:root {
  --clr-white: #f0ebe5;
  --clr-light-grey: #ded9d2;
  --clr-black: #1f1f1f;
  --clr-pink: #d47b91;
  --clr-dark-pink: #b9586d;
  --clr-brown: #573e28;
  --clr-dark-brown: #4f3824;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  color: var(--clr-dark-pink);
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/background-image.jpg);
  background-size: cover;

  padding: 1rem;
  color: var(--clr-white);
  font-size: 2rem;
}

button {
  border: none;
  cursor: pointer;
  width: 8rem;
  height: 4rem;
  background-color: var(--clr-brown);
  border-radius: 10%;
  box-shadow: inset 1px 1px 5px var(--clr-black);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  gap: 3rem;
}

.buttons-container {
  padding: 1rem;
  width: 20rem;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--clr-dark-brown);
  border-radius: 10px;
}

input[type="number"] {
  width: 12rem;
  padding: 1rem;
  margin-block: 1rem;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.grid-container {
  width: 45rem;
  height: 45rem;
  display: flex;
  flex-wrap: wrap;
  margin-block: 2rem;
  border: 2rem solid var(--clr-light-grey);
}

.grid-item {
  background-color: var(--clr-white);
}

.grid-item__border {
  border: 1px solid var(--clr-light-grey);
}

.grid-number__container label {
  font-size: 1.5rem;
}

.change-btn {
  width: 5rem;
  height: 3rem;
}
